<template>
  <div class="addquestions-box">
    <p>题目信息</p>
    <p>题干</p>
    <el-input v-model="addquestionsText" placeholder="请输入题目标题，不超过20个字"></el-input>
    <div class="theme-box">
      <div style="marginTop: 30px;marginBottom: 10px">题目主题</div>
      <div :class="boxkang1?'biankuang thoroughly_remould_oneself':'biankuang'">
        <div class="biankuang-top">
          <div>
            <span class="iconfont icon-left-square" title="上一步"></span>
            <span class="iconfont icon-right-square" title="下一步"></span>
            <span title="一级标题">H1</span>
            <span title="二级标题">H2</span>
            <span title="三级标题">H3</span>
            <span title="四级标题">H4</span>
            <span class="iconfont icon-picture" title="图片"></span>
            <span class="iconfont icon-lianjie" title="超链接"></span>
            <span class="iconfont icon-zuoyou" title="代码块"></span>
            <span class="iconfont icon-baocun" title="保存"></span>
          </div>
          <div>
            <span @click="active_quanping" class="iconfont icon-quanping"></span>
            <span class="iconfont icon-kan"></span>
          </div>
        </div>
        <div class="biankuang-bottom">
          <div class="biankuang-bottom-left"></div>
          <div class="biankuang-bottom-right">
            <textarea name id cols="30" rows="10" v-model="question_stem" placeholder="请输入内容..."></textarea>
          </div>
        </div>
      </div>
      <div class="more_select">
        <div class="more_select_select_div">请选择考试类型:</div>
        <el-select v-model="value" class="more_select_select" ceholder="请选择">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
        <div class="more_select_select_div">请选择课程类型:</div>
        <el-select v-model="value2" class="more_select_select" ceholder="请选择">
          <el-option
            v-for="item in options2"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
        <div class="more_select_select_div">请选择题目类型:</div>
        <el-select v-model="value3" class="more_select_select" ceholder="请选择">
          <el-option
            v-for="item in options3"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </div>
      <div style="marginTop: 30px;marginBottom: 10px">答案信息</div>
      <div :class="boxkang2?'biankuang thoroughly_remould_oneself':'biankuang'">
        <div class="biankuang-top">
          <div>
            <span class="iconfont icon-left-square" title="上一步"></span>
            <span class="iconfont icon-right-square" title="下一步"></span>
            <span title="一级标题">H1</span>
            <span title="二级标题">H2</span>
            <span title="三级标题">H3</span>
            <span title="四级标题">H4</span>
            <span class="iconfont icon-picture" title="图片"></span>
            <span class="iconfont icon-lianjie" title="超链接"></span>
            <span class="iconfont icon-zuoyou" title="代码块"></span>
            <span class="iconfont icon-baocun" title="保存"></span>
          </div>
          <div>
            <span @click="active_quanping2" class="iconfont icon-quanping"></span>
            <span class="iconfont icon-kan"></span>
          </div>
        </div>
        <div class="biankuang-bottom">
          <div class="biankuang-bottom-left"></div>
          <div class="biankuang-bottom-right">
            <textarea name id cols="30" rows="10" placeholder="请输入内容..." v-model="The_topic_answer"></textarea>
          </div>
        </div>
      </div>
      <div @click="submit" class="submit_btn">提交</div>
    </div>
  </div>
</template>

<script>
import "../../assets/addquestions_icon/iconfont.css";
import axios from "../../utils/http.js";
import { mapState } from "vuex";
export default {
  data() {
    return {
      addquestionsText: "",
      question_stem: "",
      The_topic_answer: "",
      options: [],
      value: "",
      options2: [],
      value2: "",
      options3: [],
      value3: "",
      boxkang1: false,
      boxkang2: false
    };
  },
  computed: {
    ...mapState("Login", ["user"])
  },
  methods: {
    submit() {
      if (confirm("您是否要提交?")) {
        axios
          .post("/exam/questions", {
            user_id: this.user,
            title: this.addquestionsText,
            questions_stem: this.question_stem,
            exam_id: this.value,
            subject_id: this.value2,
            questions_type_id: this.value3,
            questions_answer: this.The_topic_answer
          })
          .then(res => {
            alert("提交成功");
          })
          .catch(error => {
            alert("请输入完整");
          });
      }
    },
    active_quanping() {
      this.boxkang1 = !this.boxkang1;
    },
    active_quanping2() {
      this.boxkang2 = !this.boxkang2;
    }
  },
  mounted() {
    //第一个多选框
    axios.get("/exam/examType").then(res => {
      res.data.data.forEach((item, index) => {
        this.options.push({
          value: item.exam_id,
          label: item.exam_name
        });
      });
    });
    //第二个多选框
    axios.get("/exam/subject").then(res => {
      res.data.data.forEach((item, index) => {
        this.options2.push({
          value: item.subject_id,
          label: item.subject_text
        });
      });
    });
    //第三个多选框
    axios.get("/exam/getQuestionsType").then(res => {
      res.data.data.forEach((item, index) => {
        this.options3.push({
          value: item.questions_type_id,
          label: item.questions_type_text
        });
      });
    });

    if (this.$route.params.data) {
      var datas = JSON.parse(this.$route.params.data)
      this.addquestionsText = datas.title
      this.question_stem = datas.questions_stem
      this.value = datas.exam_name
      this.value2 = datas.subject_text
      this.value3 = datas.questions_type_text
      this.The_topic_answer = datas.questions_answer
    }
  }
};
</script>

<style>
.thoroughly_remould_oneself {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
}
.submit_btn {
  display: inline-block;
  padding: 8px 30px;
  border-radius: 5px;
  color: #fff;
  background: rgb(70, 70, 255);
  margin-top: 20px;
  cursor: pointer;
}
.submit_btn:hover {
  background: rgb(0, 21, 255);
}
.more_select_select_div {
  margin-top: 50px;
  line-height: 40px;
  font-size: 14px;
}
body .el-select-dropdown {
  min-width: 15% !important;
}
.more_select_select > .el-input,
.el-input--suffix > input {
  border-color: rgb(161, 161, 161);
}
.more_select_select > .el-input,
.el-input--suffix {
  margin-left: 0;
}
.more_select_select {
  display: block;
  margin-left: 0;
}
.more_select {
  width: 100%;
}
.biankuang-bottom-right > textarea {
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 40px;
}
.biankuang-bottom-left > div {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.biankuang-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.biankuang-bottom-left {
  width: 30px;
  height: 100%;
  background: rgb(240, 240, 240);
}
.biankuang-bottom-right {
  flex: 1;
  height: 100%;
}
.addquestions-box {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 13px;
}

.addquestions-box p {
  margin-left: 3%;
  line-height: 44px;
}

.el-input {
  width: 50%;
  margin-left: 3%;
}
.theme-box {
  width: 94%;
  margin: 0 auto;
}
.biankuang {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
}
.biankuang-top {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid rgb(211, 211, 211);
}
.biankuang-top > div > span {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
}
.biankuang-top > div > span:hover {
  background: rgb(207, 207, 207);
}
</style>