<template>
  <div class="detail-box">
    <div class="left-box">
      <p>出题人：{{$route.query.item.user_name}}</p>
      <p>题目信息</p>
      <div>
        <el-button type="primary">{{$route.query.item.exam_name}}</el-button>
        <el-button type="primary">{{$route.query.item.questions_type_text}}</el-button>
        <el-button type="primary">{{$route.query.item.subject_text}}</el-button>
        <span style="float:right;margin-right:3%">编辑</span>
      </div>
      <p>{{$route.query.item.title}}</p>
      <p></p>
      <div class="text-box">
              {{$route.query.item.questions_stem}}
         </div>
    </div>
    <div class="right-box">
         <p>答案信息</p>
         <div class="text-box">
              {{$route.query.item.questions_answer}}
         </div>
    </div>
  </div>
</template>

<script>
export default {
    data(){
        return {

        }
    },
    created(){
        this.$route.query
    }
};
</script>

<style scoped>
.detail-box {
  width: 100%;
  height: 100%;
  display: flex;
}

.left-box {
  flex: 1;
  background: #fff;
  margin: 0 1%;
}

.left-box p{
    line-height: 40px;
    margin-left:5%;
}

.left-box div{
    margin:3% 0;
    margin-left:5%; 
}

.left-box .text-box{
    width:90%;
    height:600px;
    background: #ccc;
    margin:3% 5%;
    line-height: 40px;
}

.right-box {
  flex: 1;
  background: #fff;
  margin: 0 1%;
}

.right-box p{
    line-height: 40px;
    margin-left:5%;
    margin-top:3%;
}

.right-box .text-box{
    width:90%;
    height:300px;
    background: #ccc;
    margin:3% 5%;
    line-height: 40px;
}
</style>