<template>
  <div class="seequestions-box">
    <div class="top-box">
      <div class="type-box" style="margin-left:3%;margin-top:3%">
        <span>课程类型：</span>
        <ul>
          <li
            v-for="(item,index) in list"
            :key="item.subject_id"
            @click="btnclick(index)"
            :class="i===index?'active':''"
          >{{item.subject_text}}</li>
        </ul>
      </div>
      <div class="search-box" style="margin-left:3%">
        <el-select v-model="subject" placeholder="请输入考试类型">
          <el-option
            v-for="(item,index) in subjects"
            :key="index"
            :label="item.exam_name"
            :value="item.exam_id"
          ></el-option>
        </el-select>
        <el-select v-model="QuestionsType" placeholder="请输入题目类型">
          <el-option
            v-for="(item,index) in options"
            :key="index"
            :label="item.questions_type_text"
            :value="item.questions_type_id"
          ></el-option>
        </el-select>
        <el-button
          type="primary"
          icon="el-icon-search"
          style="margin-left:5%"
          @click="queryclick"
        >查询</el-button>
      </div>
    </div>
    <div class="content-box">
      <div
        class="item-box"
        v-for="(item,index) in questionslist"
        :key="index"
        @click="detailclick(item)"
      >
        <p>{{item.title}}</p>
        <div>
          <el-button type="primary">{{item.questions_type_text}}</el-button>
          <el-button type="primary">{{item.subject_text}}</el-button>
          <el-button type="primary">{{item.exam_name}}</el-button>
          <!-- data_id() -->
          <span style="float:right;margin-right:3%" @click="change_data($event,index)">编辑</span>
        </div>
        <p style="color:rgb(72, 163, 224)">{{item.user_name}}发布</p>
      </div>
    </div>
  </div>
</template>

<script>
import { subject, questionslist, condition } from "../../servies/typequestions";
import axios from "../../utils/http.js";
export default {
  data() {
    return {
      list: [],
      i: 0,
      subjects: [],
      options: [],
      questionslist: [],
      questions: "",
      exam: "",
      subject: "",
      QuestionsType: "",
      data_id: ""
    };
  },
  methods: {
    change_data(e, event) {
      var data_event = JSON.stringify(this.questionslist[event]);
      this.$router.push({
        name: "addquestions",
        params: {
          data: `${data_event}`
        }
      });
      e.stopPropagation();
    },
    btnclick(index) {
      this.i = index;
    },
    queryclick() {
      questionslist().then(res => {
        if (res.data.code === 1) {
          this.questionslist = res.data.data;
          var list = "";
          if (this.subject == "" && this.QuestionsType == "") {
            alert("请输入内容再搜索");
          } else if (this.subject == "") {
            list = this.questionslist.filter(
              item => item.questions_type_id === this.QuestionsType
            );
            this.questionslist = list;
          } else if (this.QuestionsType == "") {
            list = this.questionslist.filter(
              item => item.exam_id === this.subject
            );
            this.questionslist = list;
          } else {
            list = this.questionslist.filter(
              item => item.exam_id === this.subject
            );
            var text = "";
            text = list.filter(
              item => item.questions_type_id === this.QuestionsType
            );
            this.questionslist = text;
          }
        }
      });

      //第一个
    },
    detailclick(item) {
      this.$router.push({
        name: "detail",
        query: {
          item
        }
      });
    }
  },
  created() {
    questionslist().then(res => {
      if (res.data.code === 1) {
        var arr = res.data.data;
        function sortChinese(arr) {
          arr.sort(function(item1, item2) {
            return item1.title.localeCompare(item2.title, "zh-CN");
          });
        }
        sortChinese(arr);
        this.questionslist = arr;
      }
    });
    axios.get("/exam/examType").then(res => {
      if (res.data.code === 1) {
        this.subjects = res.data.data;
      }
    });
    axios.get("/exam/getQuestionsType").then(res => {
      if (res.data.code === 1) {
        this.options = res.data.data;
      }
    });
    axios.get("/exam/subject").then(res => {
      if (res.data.code === 1) {
        this.list = res.data.data;
      }
    });
  }
};
</script>

<style scoped>
.seequestions-box {
  width: 100%;
  height: 100%;
}

.type-box {
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: flex;
  overflow-x: auto;
  margin-bottom: 1%;
}

.type-box span {
  flex: 1;
  height: 100%;
}

.type-box ul {
  display: flex;
  flex: 9;
  height: 100%;
  overflow-x: auto;
}

.type-box ul li {
  margin-right: 1%;
  font-size: 12px;
}

.active {
  color: #f00;
}

.search-box {
  width: 100%;
  height: 60px;
}

.top-box {
  width: 100%;
  height: auto;
  background: #fff;
}

.content-box {
  width: 100%;
  height: auto;
  background: #fff;
  margin-top: 6%;
}

.item-box {
  width: 100%;
  height: 160px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.item-box p {
  line-height: 60px;
  margin-left: 3%;
}

.item-box div {
  margin-left: 3%;
}
</style>