<template>
  <div class="type-box">
    <el-button type="primary" @click="showclick" icon="el-icon-plus">添加类型</el-button>

    <el-dialog title="添加班级" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="试题名称" :label-width="formLabelWidth">
          <el-input v-model="form.text" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="试题序号" :label-width="formLabelWidth">
          <el-input v-model="form.sort" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="confirm">确 定</el-button>
      </div>
    </el-dialog>
    <Table :list="list" :options="options" :flg="flg"/>
  </div>
</template>

<script>
import Table from "../../components/table.vue";
import { Message } from "element-ui";
import axios from "../../utils/http.js";
import {
  Typequestion,
  insertQuestionsType
} from "../../servies/typequestions.js";
export default {
  data() {
    return {
      flg: true,
      show:false,
      list: [],
      options: [
        {
          id: "questions_type_id",
          text: "类型ID"
        },
        {
          id: "questions_type_text",
          text: "类型名称"
        }
      ],
      form: {
        text: "",
        sort: ""
      },
      formLabelWidth: "120px",
      dialogFormVisible: false
    };
  },
  components: {
    Table
  },
  methods: {
    showclick() {
      this.show = true;
      this.dialogFormVisible = true;
    },
    hideclick() {
      this.show = false;
    },
    confirm() {
      this.show = false;
      this.dialogFormVisible = false;
      axios
        .get(
          `/exam/insertQuestionsType?text=${this.form.text}&sort=${this.form.sort}`
        )
        .then(res => {
          console.log(res);
          if (res.data.code === 1) {
            this.$message({
              type: "success",
              message: res.data.msg
            });
            axios.get("/exam/getQuestionsType").then(res => {
              console.log(res);
              if (res.data.code === 1) {
                this.list = res.data.data;
              }
            });
          }
        });
    }
  },
  created() {
    let res = Typequestion();
    res.then(res => {
      if (res.data.code === 1) {
        this.list = res.data.data;
      }
    });
  }
};
</script>

<style scoped>
.type-box {
  width: 100%;
  height: 100%;
  background: #fff;
  margin-top: 3%;
  border-radius: 13px;
  position: relative;
}

.el-button {
  margin-left: 3%;
  margin-top: 3%;
}

.from-box {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
}

.from {
  width: 600px;
  height: 360px;
  background: #fff;
  position: absolute;
  left: 30%;
  top: 20%;
}

.from h2 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 1%;
}

.from p {
  margin: 6% 0;
  margin-left: 15%;
}
.el-input {
  width: 60%;
  height: 30px;
}
</style>