<template>
  <div class="classlist-box">
    <Table :list="list" :options="options" :text="text" :flg="flg" :flgs="flgs"/>
  </div>
</template>

<script>
import Table from "../../components/table.vue";
import data from "../../data/marking/index.js";
import { claslist } from "../../servies/marking.js";
import { clas } from "../../servies/class.js";
export default {
  data() {
    return {
      list: [],
      options: [],
      text: "批卷",
      flg: true,
      flgs: true
    };
  },
  components: {
    Table
  },
  created() {
    this.options = data;
    clas().then(res => {
      if (res.data.code === 1) {
        this.list = res.data.data;
      }
    });
  },
  methods: {}
};
</script>

<style scoped>
.classlist-box {
  width: 100%;
  height: 100%;
}
</style>