<template>
  <div class="marking-box">
    <div class="search-box">
      <p style="margin-left:3%">
        考试类型：
        <el-cascader clearable></el-cascader>
      </p>
      <p style="margin-left:3%">
        课程类型：
        <el-cascader clearable></el-cascader>
      </p>
      <el-button type="primary" icon="el-icon-search" style="margin-left:3%">查询</el-button>
    </div>
    <Table :list="list" :options="options" :text="text" />
  </div>
</template>

<script>
import Table from "../../components/table.vue";
import {claslist} from '../../servies/marking.js';
import data from '../../data/marking/marking.js';
export default {
  data() {
    return {
      list: [],
      options: [],
      text: "批卷"
    };
  },
  components: {
    Table
  },
  created(){ 
     this.options=data;
     claslist().then(res=>{
          console.log(res)
     })
  }
};
</script>

<style scoped>
.marking-box {
  width: 100%;
  height: 100%;
}

.search-box {
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
}

.search-box p {
  margin-top: 1%;
}

.search-box .el-button {
  height: 40px;
  margin-top: 1%;
}
</style>