<template>
  <div class="class-box">
    <el-button type="primary" @click="showclick" icon="el-icon-plus">添加班级</el-button>

    <el-dialog title="添加班级" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="班级名" :label-width="formLabelWidth">
          <el-input v-model="form.name" autocomplete="off" :disabled="show"></el-input>
        </el-form-item>
        <el-form-item label="教室号" :label-width="formLabelWidth">
          <el-select v-model="form.rooms" placeholder="请选择活动区域">
            <el-option
              v-for="(item,index) in rooms"
              :key="index"
              :label="item.room_text"
              :value="item.room_id"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="课程名" :label-width="formLabelWidth">
          <el-select v-model="form.subject" placeholder="请选择活动区域">
            <el-option
              v-for="(item,index) in subject"
              :key="index"
              :label="item.subject_text"
              :value="item.subject_id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="confirm">确 定</el-button>
        <el-button type="primary" @click="Submission" style="{display:show?'block':'none'}">提交</el-button>
      </div>
    </el-dialog>
    <Table
      :options="options"
      :list="list"
      :text="text"
      :title="title"
      :flg="flg"
      :flgs="flgs"
      :flgx="flgx"
      :dialogFormVisible="dialogFormVisible"
      v-on:childrenfun="childrenfun"
      v-on:modifyfun="modifyfun"
    />
  </div>
</template>

<script>
import Table from "../../components/table.vue";
import { clas, addclas, updateclas, deleteclas } from "../../servies/class.js";
import data from "../../data/clas.js";
import axios from "../../utils/http.js";
export default {
  data() {
    return {
      list: [],
      options: [],
      text: "删除",
      title: "修改",
      texts: "",
      sort: "",
      curriculum: "",
      dialogFormVisible: false,
      form: {
        name: "",
        rooms: "",
        subject: ""
      },
      formLabelWidth: "120px",
      subject: [],
      rooms: [],
      show: false,
      grade_id: "",
      grade_name: "",
      flg: true,
      flgs: true,
      flgx:true,
    };
  },
  components: {
    Table
  },
  created() {
    this.options = data;
    clas().then(res => {
      if (res.data.code === 1) {
        this.list = res.data.data;
      }
    });
    axios.get("/exam/subject").then(res => {
      if (res.data.code === 1) {
        this.subject = res.data.data;
      }
    });
    axios.get("/manger/room").then(res => {
      if (res.data.code === 1) {
        this.rooms = res.data.data;
      }
    });
    // axios.get("/manger/grade/new").then(res => {
    //   if (res.data.code === 1) {
    //     this.list.push(...res.data.data);
    //   }
    // });
  },
  methods: {
    showclick() {
      this.dialogFormVisible = true;
      this.show = false;
    },
    confirm() {
      this.dialogFormVisible = false;
      //console.log(this.form.name,this.form.subject,,this.form.rooms,)
      let data = {
        grade_name: this.form.name,
        room_id: this.form.rooms,
        subject_id: this.form.subject
      };
      console.log(data)
      axios.post('/manger/grade',data).then(res => {
        console.log(res);
        if (res.data.code === 1) {
          this.$message({
            type: "success",
            message: res.data.msg
          });
          clas().then(res => {
            console.log(res)
            if (res.data.code === 1) {
              this.list = res.data.data;
            }
          });
          axios.get("/manger/grade/new").then(res => {
            if (res.data.code === 1) {
              this.list.push(...res.data.data);
            }
          });
        }
      });
    },
    Submission() {
      this.dialogFormVisible = false;
      axios
        .put("/manger/grade/update", {
          grade_id: this.grade_id,
          grade_name: this.grade_name,
          subject_id: this.form.subject,
          room_id: this.form.rooms
        })
        .then(res => {
          console.log(res);
        });
      clas().then(res => {
        if (res.data.code === 1) {
          this.list = res.data.data;
        }
      });
    },
    childrenfun(e) {
      deleteclas(e.grade_id).then(res => {
        if (res.data.code === 1) { 
          this.$message({
            type: "success",
            message: res.data.msg
          });
        }
      });
      clas().then(res => {
        if (res.data.code === 1) {
          this.list = res.data.data;
        }
      });
    },
    modifyfun(e) {
      console.log(e.grade_name);
      this.grade_id = e.grade_id;
      this.grade_name = e.grade_name;
      this.dialogFormVisible = true;
      this.show = true;
    }
  }
};
</script>

<style scoped>
.class-box {
  width: 100%;
  height: 100%;
  background: #fff;
}

.el-button {
  margin-left: 3%;
  margin-top: 3%;
}

.from-box {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
}

.from {
  width: 600px;
  height: 360px;
  background: #fff;
  position: absolute;
  left: 30%;
  top: 20%;
}

.from h2 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 1%;
}

.from p {
  margin: 6% 0;
  margin-left: 15%;
}
.el-input {
  width: 60%;
  height: 30px;
}
</style>