<template>
  <div class="classroom-box">
    <el-button type="primary" icon="el-icon-plus" style="margin-bottom:3%;" @click="open">添加教室</el-button>
    <Table
      :options="options"
      :list="list"
      :text="text"
      v-on:childrenfun="childrenfun"
      :flg="flg"
      :flgs="flgs"
    />
    <el-pagination
      background
      layout="prev, pager, next"
      :total="total*10"
      style="margin-top:3%"
      @current-change="handleCurrentChange"
    ></el-pagination>
  </div>
</template>

<script>
import Table from "../../components/table.vue";
import { rooms, addrooms, deleterooms } from "../../servies/class.js";
import data from "../../data/room.js";
export default {
  data() {
    return {
      options: [],
      list: [],
      text: "删除",
      flg: true,
      flgs: true,
      total: 0,
      num: 5,
      page: 0,
      arr:[]
    };
  },
  components: {
    Table
  },
  created() {
    this.options = data;

    rooms().then(res => {
      if (res.data.code === 1) {
        this.arr = res.data.data;
        
        this.total=Math.ceil(this.arr.length/this.num)
        console.log(this.total)
        this.list=this.arr.splice(this.page,this.num)
      }
    });
  },
  methods: {
    open() {
      this.$prompt("请输入类型名称", "创建新类型", {
        confirmButtonText: "确定",
        cancelButtonText: "取消"
      })
        .then(({ value }) => {
          addrooms(value).then(res => {
            if (res.data.code === 1) {
              this.$message({
                type: "success",
                message: res.data.msg
              });
              rooms().then(res => {
                if (res.data.code === 1) {
                  this.list = res.data.data;
                }
              });
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "取消输入"
          });
        });
    },
    childrenfun(e) {
      deleterooms(e.room_id).then(res => {
        if (res.data.code === 1) {
          this.$message({
            type: "success",
            message: res.data.msg
          });
        }
        rooms().then(res => {
          if (res.data.code === 1) {
            this.list = res.data.data;
          }
        });
      });
    },
    handleCurrentChange(val){
         this.list=this.arr.splice((val-1)*this.num,this.num)
    }
  }
};
</script>

<style scoped>
.classroom-box {
  width: 100%;
  height: 100%;
  background: #fff;
}

.el-button {
  margin-left: 3%;
  margin-top: 3%;
}
</style>