<template>
  <div class="student-box">
    <div class="student-top-box" style="display:flex">
      <el-input v-model="name" placeholder="请输入学生姓名"></el-input>
      <el-input v-model="student" placeholder="请输入学生学号"></el-input>
      <el-select v-model="room" placeholder="请选择教室号">
        <el-option
          v-for="(item,index) in rooms"
          :key="index"
          :label="item.room_text"
          :value="item.room_id"
        ></el-option>
      </el-select>
      <el-select v-model="subject" placeholder="请选择班级名">
        <el-option
          v-for="(item,index) in subjects"
          :key="index"
          :label="item.grade_name"
          :value="item.grade_id"
        ></el-option>
      </el-select>
      <el-button type="primary" icon="el-icon-search" style="margin-left:5%" @click="searchclick">搜索</el-button>
      <el-button type="primary" icon="el-icon-search" style="margin-left:5%" @click="Resetclick">重置</el-button>
    </div>
    <Table
      :options="option"
      :list="list"
      :text="text"
      v-on:childrenfun="childrenfun"
      :flg="flg"
      :flgs="flgs"
    />
    <el-pagination
      background
      layout="prev, pager, next"
      :total="total*10"
      style="margin-top:3%"
      @current-change="handleCurrentChange"
    ></el-pagination>
  </div>
</template>

<script>
import Table from "../../components/table.vue";
import { studentlist, deletestudent } from "../../servies/class.js";
import data from "../../data/student.js";
import axios from "../../utils/http.js";
export default {
  data() {
    return {
      name: "",
      student: "",
      room: "",
      subject: "",
      option: [],
      list: [],
      arr: [],
      subjects: [],
      rooms: [],
      text: "删除",
      total: 0,
      num: 5,
      page: 0,
      flg:true,
      flgs:true,
    };
  },
  components: {
    Table
  },
  created() {
    this.option = data;
    axios.get("/manger/student").then(res => {
      if (res.data.code === 1) {
        this.arr = res.data.data;
      }
    });
    axios.get("/manger/room").then(res => {
      if (res.data.code === 1) {
        this.rooms = res.data.data;
      }
    });
    axios.get("/manger/grade").then(res => {
      if (res.data.code === 1) {
        this.subjects = res.data.data;
      }
    });
    axios.get("manger/student/new").then(res => {
         if(res.data.code===1){
             this.arr.push(...res.data.data);
             this.total=Math.ceil(this.arr.length/this.num)
             this.list=this.arr.splice(this.page,this.num)
         }
    });
  },
  methods: {
    childrenfun(e) {
      let student_id = e.student_id;
      axios.delete(`/manger/student/${student_id}`).then(res => {
        this.$message({
          type: "success",
          message: res.data.msg
        });
      });
    },
    handleChange(value) {},
    searchclick() {
      let list = this.arr.filter(
        item =>
          item.student_name === this.name && item.student_id === this.student
      );
      this.list = list;
      if (this.name !== "") {
        this.list= this.arr.filter(item => item.student_name === this.name);
      }
      if (this.room !== "") {
        this.list = this.arr.filter(item => item.room_id === this.room);
      }
      if (this.subject !== "") {
        this.list = this.arr.filter(item => item.grade_id === this.subject);
      }
      if (this.student !== "") {
        this.list = this.arr.filter(item => item.student_id === this.student);
      }
    },
    searchclick() {
      let list = this.arr.filter(
        item =>
          item.student_name === this.name || item.student_id === this.student
      );
      this.list = list;
      if (this.name !== "") {
        this.list = this.arr.filter(item => item.student_name === this.name);
      }
      if (this.student !== "") {
        this.list = this.arr.filter(item => item.student_id === this.student);
      }
    },
    Resetclick() {
      this.name = "";
      this.room = "";
      this.subject = "";
      this.student = "";
      axios.get("/manger/student").then(res => {
        console.log(res);
        if (res.data.code === 1) {
          this.arr = res.data.data;
        }
      });
      axios.get("manger/student/new").then(res => {
        console.log(res);
        this.arr.push(...res.data.data);
      });
    },
    handleCurrentChange(val){
         this.list=this.arr.splice((val-1)*this.num,this.num)
    }
  }
};
</script>

<style scoped>
.student-box {
  width: 100%;
  height: 100%;
}

.student-top-box {
  width: 100%;
  height: 40px;
  margin-bottom: 3%;
  margin-left: 3%;
}

.el-input {
  width: 10%;
  height: 40px;
  margin-right: 1.5%;
}

.el-cascader {
  width: 10%;
  height: 40px;
  margin-right: 1.5%;
}

.el-button {
  width: 10%;
  height: 40px;
  margin-right: 1.5%;
}
</style>