<template>
  <div class="home-box">
    <Header />
    <div class="main main_con">
      <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside width="200px">
          <el-menu >


            
            <el-submenu v-for="(item,index) in arr" :key="index" :index="index+1+''">
              <template slot="title">
                <i class="el-icon-message"></i><span class="text-color" @click="handlist">{{item.name}}</span>
              </template>
              <el-menu-item-group>
                <el-menu-item v-for="(it,ind) in item.children" :key="ind" @click="btnclick" ><router-link :to="it.router" >{{it.name}}</router-link></el-menu-item>
                <!-- <el-menu-item index="1-2" @click="btnclick"><router-link to="/typequestions">试题分类</router-link></el-menu-item>
                <el-menu-item index="1-3" @click="btnclick"><router-link to="/seequestions">查看试题</router-link></el-menu-item> -->
              </el-menu-item-group>
            </el-submenu>


            
            <!-- <el-submenu index="2">
              <template slot="title" >
                <i class="el-icon-menu"></i><span class="text-color">用户管理</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="2-1" @click="btnclick"><router-link to="/adduser">添加用户</router-link></el-menu-item>
                <el-menu-item index="2-2" @click="btnclick"><router-link to="/Exhibitionuser">用户展示</router-link></el-menu-item>
              </el-menu-item-group>
            </el-submenu>
            
            <el-submenu index="3">
              <template slot="title">
                <i class="el-icon-setting"></i><span class="text-color">考试管理</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="3-1" @click="btnclick"><router-link to="/addexamination">添加考试</router-link></el-menu-item>
                <el-menu-item index="3-2" @click="btnclick"><router-link to="/examinationlist">试卷列表</router-link></el-menu-item>
              </el-menu-item-group>
            </el-submenu>
            
            <el-submenu index="4">
              <template slot="title">
                <i class="el-icon-setting"></i><span class="text-color">班级管理</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="4-1" @click="btnclick"><router-link to="/class">班级管理</router-link></el-menu-item>
                <el-menu-item index="4-2" @click="btnclick"><router-link to="/classroom">教室管理</router-link></el-menu-item>
                <el-menu-item index="4-3" @click="btnclick"><router-link to="/student">学生管理</router-link></el-menu-item>
              </el-menu-item-group>
            </el-submenu>
            
            <el-submenu index="5">
              <template slot="title">
                <i class="el-icon-setting"></i><span class="text-color">阅卷管理</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="5-1" @click="btnclick"><router-link to="/classlist">待批班级</router-link></el-menu-item>
              </el-menu-item-group>
            </el-submenu> -->



          </el-menu>
        </el-aside>

        <el-container class="jawidjaw">
          <el-header style="text-align: left; font-size: 12px">
            <span>{{text}}</span>
          </el-header>

          <el-main>
              <router-view/>
          </el-main>
        </el-container>
      </el-container>
    </div>
  </div>
</template>

<script>
import Header from "./header/header";
import axios from '../utils/http.js';
import routersss from '../router/home.js';
import {mapState,mapMutations} from 'vuex';
export default {
  name: "home",
  components: {
    Header
  },
  data() {
     return {
          arr: [
            {
              name: "试题管理",
              children: [
                {
                  name: "添加试题",
                  router: "/addquestions"
                },
                {
                  name: "试题分类",
                  router: "/typequestions"
                },
                {
                  name: "查看试题",
                  router: "/seequestions"
                }
              ]
            },
            {
              name: "用户管理",
              children: [
                {
                  name: "添加用户",
                  router: "/adduser"
                },
                {
                  name: "用户展示",
                  router: "/Exhibitionuser"
                }
              ]
            },
            {
              name: "考试管理",
              children: [
                {
                  name: "添加考试",
                  router: "/addexamination"
                },
                {
                  name: "试卷列表",
                  router: "/examinationlist"
                }
              ]
            },
            {
              name: "班级管理",
              children: [
                {
                  name: "班级管理",
                  router: "/class"
                },
                {
                  name: "教室管理",
                  router: "/classroom"
                },
                {
                  name: "学生管理",
                  router: "/student"
                }
              ]
            },
            {
              name: "阅卷管理",
              children: [
                {
                  name: "待批班级",
                  router: "/classlist"
                }
              ]
            }
          ],
         text:'',
         a:'wwww'
     }
  },
  computed:{
    ...mapState("Login",['routerss'])
  },
  methods:{
    ...mapMutations('Login',['at_present_user']),
      btnclick(e){
          this.text=e.$el.innerText
      },
      handlist(){
        let a = this.a;
        this.at_present_user(a)
      }
  },
  created(){
    
  },
  mounted(){
    this.arr.forEach((item)=>{
      var children = [];
      item.children.forEach((item)=>{
        this.routerss[0].children.forEach((it)=>{
          if(it.path==item.router){
            children.push(item)
          }
        })
      })
      item.children = children;
    })
    var newarr = [];
    this.arr.forEach((item)=>{
      if(item.children.length!=0){
        newarr.push(item)
      }
    })
    this.arr = newarr;
  }
};
</script>
<style scoped>
.el-submenu:hover>div>span{
  color: black;
}
.el-submenu .el-menu-item{
  padding: 0;
  width: 100%;
  padding-left: 0 !important;
}
.home-box {
  width: 100%;
  height: 100%;
}
.main {
   width:100%;
   height:90%;
}

.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #fff;
  background: #232a41;
}

.el-menu{
  background: #232a41;
  color:#fff;
}

.text-color{
    color:#fff;
}
.text-color:hover{
  color: black;
}
.el-menu-item-group{
    color:#b2b5bd;
    background: #232a41;
}

.el-menu-item{
   color:#b2b5bd;
}

a{
  display: inline-block;
  width: 100%;
  height: 100%;
  color:#b2b5bd;
  text-indent: 4em;
}
.router-link-active{
    color:#e46b8d;
}

.el-main{
  background: #f0f2f5;
}
</style>
