<template>
    <div>

    </div>
</template>
<script>
import axios from '../utils/http.js'
export default {
    props:{

    },
    components:{

    },
    data(){
        return {

        }
    },
    computed:{

    },
    methods:{

    },
    created(){

    },
    mounted(){
        console.log("你会运行吗？")
        this.$store.dispatch('Login/getData')
    }
}
</script>
<style scoped>

</style>