<template>
  <div class="table-box">
    <el-table :data="list" style="width:94%;margin-left:3%">
      <el-table-column
        v-for="(item,index) in options"
        :key="index"
        :prop="item.id"
        :label="item.text"
      ></el-table-column>
      <el-table-column style="{display:flg?'block':'none'}">
        <template slot="header">
          <span v-show="flg">操作</span>
        </template>
        <template slot-scope="scope">
          <el-button size="mini" @click="deleteclick(scope.row)" v-show="flgs">{{text}}</el-button>
          <el-button
            size="mini"
            type="danger"
            @click="modifyclick(scope.row)"
            v-show="flgx"
          >{{title}}</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
export default {
  props: {
    list: Array,
    options: Array,
    text: String,
    title: String,
    dialogFormVisible: Boolean,
    flg:{
       type:Boolean,
       default:false
    },
    flgs:{
       type:Boolean,
       default:false
    },
    flgx:{
       type:Boolean,
       default:false
    },
  },
  data() {
    return {
      
    };
  },
  created() {},
  methods: {
    deleteclick(e) {
      console.log(e);
      this.$emit("childrenfun", e);
    },
    modifyclick(e) {
      this.$emit("modifyfun", e);
    }
  }
};
</script>

<style scoped>
</style>