<template>
  <div class="addexamination-box">
    <div class="item-box">
      <p>
        <span>*</span>试卷名称：
      </p>
      <el-input v-model="title" placeholder style="width:30%"></el-input>
    </div>
    <div class="item-box">
      <p>
        <span>*</span>选择考试类型：
      </p>
      <el-select v-model="exam_id" placeholder="请输入考试类型">
        <el-option
          v-for="(item,index) in subjects"
          :key="index"
          :label="item.exam_name"
          :value="item.exam_id"
        ></el-option>
      </el-select>
    </div>
    <div class="item-box">
      <p>
        <span>*</span>选择课程：
      </p>
      <el-select v-model="subject_id" placeholder="请输入课程类型">
        <el-option
          v-for="(item,index) in list"
          :key="index"
          :label="item.subject_text"
          :value="item.subject_id"
        ></el-option>
      </el-select>
    </div>
    <div class="item-box">
      <p>
        <span>*</span>设置题量：
      </p>
      <el-input v-model="number" placeholder style="width:10%"></el-input>
    </div>
    <div class="block">
      <span class="demonstration">开始时间 ：</span>
      <el-date-picker
        v-model="value1"
        type="date"
        placeholder="选择日期"
        format="yyyy 年 MM 月 dd 日"
        value-format="timestamp"
      ></el-date-picker>
    </div>
    <div class="block">
      <span class="demonstration">结束时间 ：</span>
      <el-date-picker
        v-model="value2"
        type="date"
        placeholder="选择日期"
        format="yyyy 年 MM 月 dd 日"
        value-format="timestamp"
      ></el-date-picker>
    </div>
    <el-button type="primary" plain @click="addexamclick">创建试卷</el-button>
  </div>
</template>

<script>
import options from "../../data/examtype.js";
import subject from "../../data/subject.js";
import { addexam } from "../../servies/exam.js";
import axios from "../../utils/http.js";
export default {
  data() {
    return {
      pickerOptions: {
        shortcuts: [
          {
            text: "最近一周",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近一个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近三个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      },
      title: "",
      number: "",
      list: [],
      subjects: [],
      value1: "",
      exam_id: "",
      subject_id: "",
      value1: "",
      value2: ""
    };
  },
  created() {
    this.options = options;
    this.subject = subject;
    axios.get("/exam/examType").then(res => {
      if (res.data.code === 1) {
        this.subjects = res.data.data;
      }
    });
    axios.get("/exam/subject").then(res => {
      if (res.data.code === 1) {
        this.list = res.data.data;
      }
    });
  },
  methods: {
    addexamclick() {
      let datas = {
        title: this.title,
        exam_id: this.exam_id,
        subject_id: this.subject_id,
        number: this.number * 1,
        start_time: this.value1,
        end_time: this.value2
      };
      axios.post("exam/exam", datas).then(res => {
        console.log(res);
        if (res.data.code === 1) {
          this.$router.push({
            name: "examdeteil",
            query: {
              list: res.data.data
            }
          });
        }
      });
    }, 
  }
};
</script>

<style>
.addexamination-box {
  width: 100%;
  height: 100%;
  background: #fff;
}

.item-box {
  width: 100%;
  height: auto;
  margin-left: 3%;
}

.item-box p {
  line-height: 40px;
  margin-top: 1%;
}

.el-button {
  margin-left: 3%;
  margin-top: 3%;
}

.block {
  margin-left: 3%;
  margin-top: 3%;
}
</style>