<template>
  <div class="examinationlist-box">
    <div class="search-box">
      <p style="margin-left:3%">
        考试类型：
        <el-select v-model="exam_id" placeholder="请输入考试类型">
          <el-option
            v-for="(item,index) in subjects"
            :key="index"
            :label="item.exam_name"
            :value="item.exam_id"
          ></el-option>
        </el-select>
      </p>
      <p style="margin-left:3%">
        课程类型：
        <el-select v-model="subject_id" placeholder="请输入课程类型">
          <el-option
            v-for="(item,index) in exams"
            :key="index"
            :label="item.subject_text"
            :value="item.subject_id"
          ></el-option>
        </el-select>
      </p>
      <el-button type="primary" icon="el-icon-search" style="margin-left:3%" @click="queryclick">查询</el-button>
    </div>
    <div class="table-box">
      <div class="tab-box">
        <span>试卷列表</span>
        <ul>
          <li
            v-for="(item,index) in lists"
            :key="item.id"
            @click="btnclick(index)"
            :class="i===index?'active':''"
          >{{item.text}}</li>
        </ul>
      </div>
      <Table :list="list" :options="options" :text="text" :flg="flg" :flgs="flgs"/>
    </div>
  </div>
</template>

<script>
import Table from "../../components/table.vue";
import { exam } from "../../servies/exam.js";
import data from "../../data/exam.js";
import axios from "../../utils/http.js";
export default {
  data() {
    return {
      exams: [],
      subjects: [],
      exam_id: "",
      subject_id: "",
      lists: [
        {
          id: 0,
          text: "全部"
        },
        {
          id: 1,
          text: "进行中"
        },
        {
          id: 2,
          text: "已结束"
        }
      ],
      i: 0,
      list: [],
      options: [],
      text: "详情",
      flg: true,
      flgs: true
    };
  },
  components: {
    Table
  },
  created() {
    this.options = data;
    exam().then(res => {
      if (res.data.code === 1) {
        this.list = res.data.exam;
      }
    });
    axios.get("/exam/examType").then(res => {
      if (res.data.code === 1) {
        this.subjects = res.data.data;
      }
    });
    axios.get("/exam/subject").then(res => {
      if (res.data.code === 1) {
        this.exams = res.data.data;
      }
    });
  },
  methods: {
    btnclick(index) {
      this.i = index;
    },
    queryclick() {
      let list = this.list.filter(item => item.exam_id === this.exam_id);
      list = this.list.filter(item => item.subject_id === this.subject_id);
      this.list = list;
    }
  }
};
</script>

<style scoped>
.examinationlist-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-box {
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
}

.search-box p {
  margin-top: 1%;
}

.search-box .el-button {
  height: 40px;
  margin-top: 1%;
}

.table-box {
  flex: 1;
  background: #fff;
  margin-top: 1%;
}

.tab-box {
  width: 100%;
  height: 60px;
  margin-left: 3%;
  display: flex;
  margin-bottom: 3%;
}

.tab-box span {
  margin-top: 3%;
  flex: 3;
  float: left;
}

.tab-box ul {
  flex: 7;
  height: 100%;
  display: flex;
  margin-top: 3%;
  margin-left: 50%;
}

.tab-box ul li {
  width: 150px;
  height: 40px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
}

.active {
  color: #f00;
}
</style>