<template>
  <div class="examdeteil-box">
    <p style="margin-left:3%;height:40px;margin-top:3%">
      <el-button type="primary" plain>添加新题</el-button>
    </p>
    <div class="content-box">
      <h2>
        {{$route.query.list.title
        }}
      </h2>
      <p>考试时间：1小时30分钟 监考人：刘宇 开始考试时间：{{time | formatDate}} 阅卷人：刘宇</p>
      <el-button type="primary" plain style="margin-left:45%" @click="addexamclick">创建试卷</el-button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      time: this.$route.query.list.start_time
    };
  },
  created() {
    console.log(this.$route.query);
  },
  methods: {
    addexamclick() {
      this.$router.push("/examinationlist");
    }
  },
  filters: {
    formatDate: function(value) {
      let date = new Date(value);
      let y = date.getFullYear();
      let MM = date.getMonth() + 1;
      MM = MM < 10 ? "0" + MM : MM;
      let d = date.getDate();
      d = d < 10 ? "0" + d : d;
      let h = date.getHours();
      h = h < 10 ? "0" + h : h;
      let m = date.getMinutes();
      m = m < 10 ? "0" + m : m;
      let s = date.getSeconds();
      s = s < 10 ? "0" + s : s;
      return y + "-" + MM + "-" + d + " " + h + ":" + m + ":" + s;
    }
  }
};
</script>

<style scoped>
.examdeteil-box {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.content-box {
  flex: 1;
}

.content-box h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}

.content-box p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
}
</style>