<template>
    <div class="add_user">
        <div class="special_box">
            <div class="special_box_add_updata">
                <button :class="add?'':'add'" @click="changeadd(true)">添加用户</button>
                <button :class="add?'add':''" @click="changeadd(false)">更新用户</button>
            </div>
            <div v-if="add">
                <input v-model="add_user_name" type="text" placeholder="请输入用户名">
                <input v-model="add_user_pasw" type="text" placeholder="请输入密码">
                <div>
                    <el-select v-model="value1" style="marginBottom:20px" placeholder="请选择身份id">
                        <el-option
                        v-for="item in options3"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div>
                    <button @click="submit(1)">确定</button>
                    <button @click="rest(1)">重置</button>
                </div>
            </div>
            <div v-else>
                <div>
                    <el-select v-model="values" placeholder="请选择" style="marginTop:20px">
                        <el-option
                        v-for="item in options2"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                        >
                        </el-option>
                    </el-select>
                </div>
                <input type="text" v-model="add_user_name" placeholder="请输入用户名">
                <input type="text" v-model="add_user_pasw" placeholder="请输入密码">
                <div>
                    <el-select v-model="value2" placeholder="请选择" style="marginBottom:20px">
                        <el-option
                        v-for="item in options3"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div>
                    <button @click="submit(1)">确定</button>
                    <button @click="rest(1)">重置</button>
                </div>
            </div>
        </div>
        <div class="table_frame">
            <button class="table_frame_first_btn">添加身份</button>
            <input type="text" v-model="add_user_identity" placeholder="请输入身份名称">
            <div>
                <button @click="submit(2)">确定</button>
                <button @click="rest(2)">重置</button>
            </div>
        </div>
        <div class="table_frame">
            <button class="table_frame_first_btn">添加api接口权限</button>
            <input type="text" v-model="insert_api_url_name" placeholder="请输入api接口权限名称">
            <input type="text" v-model="insert_api_url" placeholder="请输入api接口权限url">
            <input type="text" v-model="insert_api_url_way" placeholder="请输入api接口权限方法">
            <div>
                <button @click="submit(3)">确定</button>
                <button @click="rest(3)">重置</button>
            </div>
        </div>
        <div class="table_frame">
            <button class="table_frame_first_btn">添加视图接口权限</button>
            <div class="table_frame_select">
                <el-select v-model="value3" placeholder="请选择已有视图" style="marginTop:20px">
                    <el-option
                    v-for="item in options4"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div>
                <button @click="submit(4)">确定</button>
                <button @click="rest(4)">重置</button>
            </div>
        </div>
        <div class="table_frame">
            <button class="table_frame_first_btn">添加api接口权限</button>
            <div class="table_frame_select">
                <el-select v-model="value4" placeholder="请选择身份id" style="marginTop:20px">
                    <el-option
                    v-for="item in options3"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="table_frame_select">
                <el-select v-model="value5" placeholder="请选择api接口权限" style="marginTop:20px">
                    <el-option
                    v-for="item in options5"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div>
                <button @click="submit(5)">确定</button>
                <button @click="rest(5)">重置</button>
            </div>
        </div>
        <div class="table_frame">
            <button class="table_frame_first_btn">给身份设定视图权限</button>
            <div class="table_frame_select">
                <el-select v-model="value6" placeholder="请选择身份id" style="marginTop:20px">
                    <el-option
                    v-for="item in options3"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div class="table_frame_select">
                <el-select v-model="value7" placeholder="请选择视图权限id" style="marginTop:20px">
                    <el-option
                    v-for="item in options4"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <div>
                <button @click="submit(6)">确定</button>
                <button @click="rest(6)">重置</button>
            </div>
        </div>
    </div>
</template>
<script>
import axios from '../../utils/http.js'
export default {
    props:{

    },
    components:{
        
    },
    data(){
        return {
            insert_api_url_name: '',
            insert_api_url: '',
            insert_api_url_way: '',
            add_user_identity: '',
            add_user_name: '',
            add_user_pasw: '',
            value1: '',
            value3: '',
            value4: '',
            value5: '',
            value6: '',
            value7: '',
            options: [],
            options2: [],
            options3: [],
            options4: [],
            options5: [],
            value2: '',
            values: '',
            data_id: [],
            add: true
        }
    },
    computed:{

    },
    methods:{
        submit(n){
            if(n==1){
                if(this.add){
                    if(this.add_user_name&&this.add_user_pasw&&this.value1){
                        let moredata = {
                            user_name: this.add_user_name,
                            user_pwd: this.add_user_pasw,
                            identity_id: this.value1
                        }
                        axios.post('/user',moredata).then((res)=>{
                            if(res.data.msg=='参数有误'){
                                alert(res.data.msg)
                            }else if(res.data.msg=='身份权限不足'){
                                alert(res.data.msg)
                            }else{
                                alert('添加成功')
                            }
                        })
                    }else{
                        alert('参数有误')
                    }   
                }else{
                    if(this.values&&this.add_user_name&&this.add_user_pasw&&this.value2){
                        let moredata2 = {
                            user_name: this.add_user_name,
                            user_pwd: this.add_user_pasw,
                            identity_id: this.value1
                        }
                        axios.post('/user/user',moredata2).then((res)=>{
                            if(res.data.msg=='参数有误'){
                                alert(res.data.msg)
                            }else if(res.data.msg=='身份权限不足'){
                                alert(res.data.msg)
                            }else{
                                console.log(res)
                                alert('添加成功')
                            }
                        })
                    }else{
                        alert('参数有误')
                    }
                }
            }else if(n==2){
                if(this.add_user_identity){
                        axios.get(`/user/identity/edit?identity_text=${this.add_user_identity}`).then((res)=>{
                            if(res.data.msg=='参数有误'){
                                console.log(res)
                                alert(res.data.msg)
                            }else{
                                console.log(res)
                                alert('添加成功')
                            }
                        })
                    }else{
                        alert('参数有误')
                    }
            }else if(n==3){
                if(this.insert_api_url_name&&this.insert_api_url&&this.insert_api_url_way){
                        axios.get(`/user/authorityApi/edit?api_authority_text=${this.insert_api_url_name}&api_authority_url=${this.insert_api_url}&api_authority_method=${this.insert_api_url_way}`).then((res)=>{
                            if(res.data.msg=='参数有误'){
                                console.log(res)
                                alert(res.data.msg)
                            }else{
                                console.log(res)
                                alert('添加成功')
                            }
                        })
                    }else{
                        alert('参数有误')
                    }
            }else if(n==4){
                if(this.value3){
                        axios.get(`/user/authorityView/edit?view_authority_text=${this.value3}&view_id=${this.value3}`).then((res)=>{
                            if(res.data.msg=='参数有误'){
                                console.log(res)
                                alert(res.data.msg)
                            }else{
                                console.log(res)
                                alert('添加成功')
                            }
                        })
                    }else{
                        alert('参数有误')
                    }
            }else if(n==5){
                if(this.value4&&this.value5){
                        let moredata5 = {
                            identity_id: this.value4,
                            api_authority_id: this.value5
                        }
                        axios.post('/user/setIdentityApi',moredata5).then((res)=>{
                            if(res.data.msg=='参数有误'){
                                alert(res.data.msg)
                            }else{
                                console.log(res)
                                alert('添加成功')
                            }
                        })
                    }else{
                        alert('参数有误')
                    }
            }else if(n==6){
                if(this.value6&&this.value7){
                        let moredata6 = {
                            identity_id: this.value6,
                            view_authority_id: this.value7
                        }
                        axios.post('/user/setIdentityView',moredata6).then((res)=>{
                            if(res.data.msg=='参数有误'){
                                alert(res.data.msg)
                            }else{
                                console.log(res)
                                alert('添加成功')
                            }
                        })
                    }else{
                        alert('参数有误')
                    }
            }
            
        },
        rest(n){
            if(n==1){
                if(this.add){
                    this.add_user_name = '',
                    this.add_user_pasw = '',
                    this.value1 = ''
                }else{
                    this.values = '',
                    this.add_user_pasw = '',
                    this.add_user_name = '',
                    this.value2 = ''  
                }
            }else if(n==2){
                this.add_user_identity = ''
            }else if(n==3){
                this.insert_api_url_name = '',
                this.insert_api_url = '',
                this.insert_api_url_way = ''
            }else if(n==4){
                this.value3 = ''
            }else if(n==5){
                this.value4 = ''
                this.value5 = ''
            }else if(n==6){
                this.value6 = ''
                this.value7 = ''
            }
        },
        changeadd(dc){
            if(dc){
                this.add=dc

            }else{
                this.add=dc
            }
            
        }
    },
    created(){

    },
    mounted(){


        axios.get('/user/identity_api_authority_relation').then((res)=>{
            var n = []
            res.data.data.map((item)=>{
                n.push(item.identity_text)
            })
            var m = []
            n.forEach((el)=>{
                if(m.includes(el)){
                    return;
                }else{
                    m.push(el)
                }
            })
            m.forEach((ital,ind)=>{
                this.options.push({
                    value: `选项${ind+1}`,
                    label: ital
                })
            })
        })


        axios.get('/user/user').then((res)=>{
            var n = []
            res.data.data.map((item)=>{
                n.push(item.user_name)
            })
            var m = []
            n.forEach((el)=>{
                if(m.includes(el)){
                    return;
                }else{
                    m.push(el)
                }
            })
            m.forEach((ital,ind)=>{
                this.options2.push({
                    value: `选项${ind+1}`,
                    label: ital
                })
            })
        })
// 

        axios.get('/user/identity').then((res)=>{
            res.data.data.forEach((item)=>{
                this.data_id.push(item)
            })
            var n = []
            res.data.data.map((item)=>{
                this.options3.push({
                    value: item.identity_id,
                    label: item.identity_text
                })
            })
        })



        axios.get('/user/view_authority').then((res)=>{
            var n = []
            res.data.data.map((item)=>{
                n.push(item.view_authority_text)
            })
            var m = []
            n.forEach((el)=>{
                if(m.includes(el)){
                    return;
                }else{
                    m.push(el)
                }
            })
            m.forEach((ital,ind)=>{
                this.options4.push({
                    value: `选项${ind+1}`,
                    label: ital
                })
            })
        })

        axios.get('/user/api_authority').then((res)=>{
            var n = []
            res.data.data.map((item)=>{
                n.push(item.api_authority_text)
            })
            var m = []
            n.forEach((el)=>{
                if(m.includes(el)){
                    return;
                }else{
                    m.push(el)
                }
            })
            m.forEach((ital,ind)=>{
                this.options5.push({
                    value: `选项${ind+1}`,
                    label: ital
                })
            })
        })
    }
}
</script>
<style scoped>
    .table_frame>input{
        display: block;
        margin-top: 20px;
        padding: 10px;
        width: 90%;
    }
    .el-input--suffix .el-input__inner{
        margin: 10px 0px !important;
    }
    .table_frame>div>button:first-child{
        color: white;
        background: blue;
        border-radius: 5px;
        padding: 5px 40px;
        outline: none;
        border: none;
    }
    .special_box>div>div>button:first-child{
        color: white;
        background: blue;
        border-radius: 5px;
        padding: 5px 40px;
        outline: none;
        border: none;
    }
    .table_frame>div>button{
        margin-top: 20px;
    }
    .table_frame>div>button:last-child{
        background: white;
        padding: 5px 20px;
        outline: none;
        border: 1px solid rgb(201, 201, 201);
    }
    .special_box>div>div>button:last-child{
        background: white;
        padding: 5px 20px;
        outline: none;
        border: 1px solid rgb(201, 201, 201);
    }
    .special_box>div>input{
        display: block;
        margin: 20px 0px;
        padding: 10px;
        width: 90%;
        
    }
    .table_frame_first_btn{
        background: white;
        border: 1px solid blue;
        color: blue;
        padding: 5px 10px;
        margin: 0;
    }
    .special_box_add_updata>.add{
        color: rgb(122, 122, 122);
        border-color: rgb(122, 122, 122);
    }
    .special_box_add_updata{
        width: 100%;
    }
    .special_box_add_updata>button{
        background: white;
        border: 1px solid blue;
        color: blue;
        padding: 5px 10px;
        margin: 0;
    }
    .add_user{
        width: 100%;
        height: 100%;
        background: rgb(237, 246, 247);
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
    }
    .add_user>div{
        width: 33.333%;
        height: 50%;
        border-bottom: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        border-radius: 5px;
        padding: 10px;
    }
</style>