<template>
  <div class="exhibitionuser-box">
    <div class="tab-box">
      <ul>
        <li
          v-for="(item,index) in lists"
          :key="item.id"
          @click="btnclick(index)"
          :class="i===index?'active ul_li':'ul_li'"
        >{{item.text}}</li>
      </ul>
    </div>
    <h2 style="margin-left:3%;line-height:40px;margin-bottom:1%;">{{lists[i].text}}</h2>
    <Table :options="options" :list="list" />
    <el-pagination
      background
      layout="prev, pager, next"
      :total="total*10"
      style="margin-top:3%"
      @current-change="handleCurrentChange"
    ></el-pagination>
  </div>
</template>

<script>
import Table from "../../components/table.vue";
import { userlist, identity } from "../../servies/user.js";
import data from "../../data/data.js";
export default {
  data() {
    return {
      lists: [],
      options: [],
      i: 0,
      list: [],
      total: 0,
      num: 3,
      page: 0,
      datas:[]
    };
  },
  components: {
    Table
  },
  created() {
    this.lists = data;

    userlist(this.i).then(res => {
      
      if (res.data.code === 1) {
        this.list = res.data.data;
        console.log(this.list)




        this.options = this.lists[this.i].children;
        this.total = Math.ceil((this.list.length / 10));

        this.datas = this.list.slice(this.page, this.num);
      }
    });
  },
  methods: {
    btnclick(index) {
      this.i = index;
      this.options = this.lists[this.i].children;

      userlist(this.i).then(res => {
        if (res.data.code === 1) {
          this.list = res.data.data;
          this.options = this.lists[this.i].children;
          this.total = Math.ceil((this.list.length / 10));

          this.datas = this.list.slice(this.page, this.num);
        }
      });
    },
    handleCurrentChange(val) {
      let num = (val - 1) * 5;
      //console.log(this.arr.slice(num,this.num))
      this.datas = this.list.splice(num, this.num);
    }
  }
};
</script>

<style scoped>
.ul_li{
  cursor: pointer;
}
.exhibitionuser-box {
  width: 100%;
  height: 100%;
}

.tab-box {
  width: 100%;
  height: 60px;
  margin-left: 3%;
}

.tab-box ul {
  width: 100%;
  height: 100%;
  display: flex;
}

.tab-box ul li {
  width: 150px;
  height: 40px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
}

.active {
  color: #f00;
}
</style>