<template>
  <div class="header-box">
    <div class="header-img">
      <img
        src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1551624718911&amp;di=4a7004f8d71bd8da84d4eadf1b59e689&amp;imgtype=0&amp;src=http%3A%2F%2Fimg105.job1001.com%2Fupload%2Falbum%2F2014-10-15%2F1413365052_95IE3msH.jpg"
        alt
      />
    </div>
    <div class="header-user">
      <el-dropdown>
        <i class="el-icon-user-solid" style="margin-right: 6px;font-size:24px"></i>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>个人中心</el-dropdown-item>
          <el-dropdown-item>我的班级</el-dropdown-item>
          <el-dropdown-item>设置</el-dropdown-item>
          <el-dropdown-item @click.native="outlogin">退出登录</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <span>{{user_id}}</span>
    </div>
  </div>
</template>

<script>
import axios from '../../utils/http.js'
import {mapState,mapMutations} from 'vuex'
export default {
  props:{

    },
    components:{

    },
    data(){
        return {
          user_id: ''
        }
    },
    computed:{

    },
    methods:{
      ...mapMutations('Login',['at_present_user']),
      outlogin(){
        this.$router.push('/login')
      }
    },
    created(){

    },
    mounted(){
      
        axios.get('/user/userInfo').then((res)=>{
          this.user_id = res.data.data.user_id;
          this.at_present_user(res.data.data.user_id)
        })

    }
};
</script>

<style scoped>
.header-box {
  width: 100%;
  height: 10%;
  display: flex;
}

.header-img {
  flex: 7;
  height: 100%;
}

.header-img img {
  width: 120px;
  height: 30px;
  margin-top: 15px;
  margin-left: 6%;
}

.header-user {
  flex: 3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-user .color-box {
  width: 25px;
  height: 25px;
  background: #ccc;
  border-radius: 50%;
}

.header-user span {
  padding-left: 3%;
}
</style>