<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import './assets/css/main.css'
export default {
  name: 'App',
  mounted() {
    if(window.sessionStorage.getItem('userinfo')){
      console.log("运行了")
      this.$store.dispatch('Login/getUserInfo')
    }
  },
}
</script>

<style>
