<template>
  <div class="login-box">
    <div class="from-box">
      <el-input v-model="user" placeholder="请输入用户名" style="margin-top:12%;"></el-input>
      <el-input placeholder="请输入密码" v-model="pass" show-password></el-input>
      <el-button style="margin-left:10%;" @click="loginclick">登录</el-button><el-button style="margin-left:50%">注册</el-button>
    </div>
  </div>
</template>

<script>
import {login} from '../../servies/login.js'
import cookie from 'js-cookie'
import {mapMutations} from 'vuex';
export default {
  data() {
    return {
      user: "",
      pass: ""
    };
  },
  methods: {
    ...mapMutations('Login',['remove_router']),
    loginclick() {
      
      if(this.user==''||this.pass==''){
        alert('请输入密码账号')
      }else{
        //提交及跳转
        let res = login(this.user, this.pass)
        res.then((v)=>{
              cookie.set('token',v.data.token);
              window.sessionStorage.setItem('token',JSON.stringify(v.data.token));
              this.$store.dispatch('Login/getUserInfo')
              this.$router.push('/');
        });
      }
    }

  },
  mounted(){
    if(window.sessionStorage.getItem('userinfo')){
      window.sessionStorage.setItem('userinfo','');
      location.reload()
    }
  }
};
</script>

<style scoped>
.login-box {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1570793290590&di=fb3f0c7aa7000579f5e221e78aaaf385&imgtype=0&src=http%3A%2F%2Fimg.mp.itc.cn%2Fupload%2F20160403%2F610b2bf95d4241fbb3eefdbdaebb64c8_th.jpg");
  background-size: 100% 100%;
}

.from-box {
  width: 500px;
  height: 300px;
  margin-left: 60%;
  margin-top: 25%;
  background: rgba(0, 0, 0, 0.3);
  color: #000;
}

.el-input{
    width:80%;
    margin:3% 10%;
}

.el-button{
    margin-top:5%;
}
</style>